<div ng-controller="ctrlExpenses">
	<h2>Expenses</h2>

	<div bookmarklist id="bookmarks" class="section-list">
	</div>

	<h3>Add an expense</h3>
	<form name="expensesform">
		<ul>
			<li>
				<label>Date</label>
				<input type="text" name="date" ng-required="true" ng-model="newExpense.date" ng-pattern="'(0[1-9]|[12][0-9]|3[01])[/](0[1-9]|1[012])[/](20)[0-9]{2}$'" ui-date="dateOptions" placeholder="dd/mm/yyyy" />
				<span style="color:Red" ng-show="expensesform.date.$error.pattern">Format: 'dd/MM/yyyy', since year 2000</span>
			</li>
			<li>
				<label>Amount</label>
				<input type="text" name="amount" ng-required="true" ng-model="newExpense.amount" ng-pattern="'^[0-9]{0,9}(\.[0-9]{1,2})?(\\s)?(EUR|eur)?'" placeholder="00.00" /> {{vat}}
				<span style="color:Red" ng-show="expensesform.amount.$error.pattern">Format: '1.2 or 1.23 EUR'</span>
			</li>
			<li>
				<label>Reason</label>
					<textarea at-auto-resize ng-required="true" name="reason" ng-model="newExpense.reason" ng-maxlength="255" ng-trim="false" placeholder="why oh why?"></textarea>
					<span style="color:Red" ng-show="expensesform.reason.$error.maxlength">Max length is 255 characters</span>
			</li>
			<li>
				<label></label>
				<button ng-click="saveExpense()" ng-disabled="!expensesform.$valid" class="solid">Save Expense</button> <button ng-click="clearExpense()">cancel</button>
			</li>
		</ul>
	</form>

	<h3>Submitted expenses</h3>
	<div class="list-table expenses-data">
		<div class="header-row">
			<div class="col-4">Date</div>
			<div class="col-4 figures">Amount (inc. VAT)</div>
			<div class="col-2 figures">VAT</div>
			<div class="col-15">Reason</div>
		</div>
		<div ng-repeat="expense in expenses" class="body-row">
			<div class="col-4">{{expense.date | date:'dd MMM yyyy'}}</div>
			<div class="col-4 figures">{{expense.amount | currency:"&pound;"}}</div>
			<div class="col-2 figures">{{expense.vat | currency:"&pound;"}}</div>
			<div class="col-15">{{expense.reason}}</div>
		</div>
	</div>
</div>
